body{
  background: #3494e6;
  height: 100vh;
  margin: 2rem;
  font-family: sans-serif;
}

.item{
  background: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-gap: 1rem;
}